@page "/User/UploadForChoosedate/{RequestID:decimal}"
@page "/User/UploadForChoosedate/{Edit:bool}/{RequestID:decimal}"
@page "/{Role}/UploadForChoosedate/{StaffID}/{RequestID:decimal}"
@page "/{Role}/UploadForChoosedate/{Edit:bool}/{StaffID}/{RequestID:decimal}"
@attribute [Authorize(Roles = "0,2")]

<div class="container-fluid mt-3 pb-5 mb-5">
    <div class="mt-4 mb-2 px-5 py-3">
        <StepsAnt Stepes="@StepsChooseDate.Steps" Current="StepsChooseDate.Current" />
    </div>

    <div class="card shadow d-sm-flex justify-content-between mb-4 mt-3">
        <div class="card-header py-3">
            <h6 class="mb-0 py-2 px-1 ms-1 font-color">
                <strong>@DataApply</strong>
            </h6>
        </div>
        <div class="mt-2 px-2 py-3 mb-5 row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="mx-2 my-1">
                    <Alert Type="@AlertType.Error"
                           Style="font-weight:bold; color:red;"
                           Message="กรุณาเตรียมเอกสารประกอบเพื่อทำสัญญาทั้งหมดมาให้พร้อมในวันทำสัญญา"
                           Icon="@IconRender("red")"
                           ShowIcon="true" />
                </div>

                <div class="mx-2 my-3">
                    <Alert Type="@AlertType.Warning"
                           Message="เซ็นสำเนาถูกต้องพร้อมวัตถุประสงค์การใช้เอกสารทุกครั้ง เพื่อป้องกันการถูกแอบอ้าง"
                           Icon="@IconRender("orange")"
                           ShowIcon="true" />
                </div>

                @if (ItemUploadImg.Any())
                {
                    for (var i = 0; i < ItemUploadImg.Count; i++)
                    {
                        var item = ItemUploadImg[i];
                        var index = i + 1;
                        var GenId = $"Upload_{index}";
                        var myFile = $"my_file{index}";
                        var AttTypeId = item.AttachmentTypeId;

                        <div class="row mt-3 mb-3 px-1">
                            <div class="col-12">
                                <div class="card p-2 shadow rounded"
                                     style="border-radius: 5px;font-size:large;font-weight:bold">
                                    <div class="row ms-2">
                                        <div class="col-xl-10 col-lg-9 col-md-9 col-sm-3 font-color ps-2">
                                            @item.AttachmentNameThai

                                            <button class="btn text-end"
                                                    style="border:none" @onclick="()=> ShowImg(ResultInfoList, AttTypeId)"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#extralarge">
                                                <i class="fa-regular fa-eye"></i>
                                            </button>
                                        </div>
                                        <div class="col justify-content-end align-content-end text-end">
                                            <button class="btn text-end"
                                                    style="border:none"
                                                    id="@GenId" @onclick="()=> GeneratePDFService.OpenTypeFileAsync(GenId, myFile)">
                                                | <i class="fa-solid fa-upload mx-1"></i>
                                                อัปโหลดไฟล์
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <NewUpload SetChildData="SetCurrentData"
                                   AttachmentTypeId="@item.AttachmentTypeId"
                                   MyFile="@myFile" />

                        <div class="my-2">
                            @if (ResultInfoList.Count != 0)
                            {
                                bool NoImg = true;
                                foreach (var img in ResultInfoList)
                                {
                                    if (item.AttachmentTypeId == img.AttachmentTypeId)
                                    {
                                        <ListUpload listModel="img" ListId="CurrentRemoveListAsync" />
                                        NoImg = false;
                                    }
                                }

                                if (NoImg)
                                {
                                    <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-7 col-sm-12 mt-2"
                                         style="color: grey; font-size: medium">
                                        ยังไม่มีเอกสาร
                                    </div>
                                }
                            }
                            else
                            {
                                <div class="col-xxl-10 col-xl-9 col-lg-8 col-md-7 col-sm-12 mt-2"
                                     style="color: grey; font-size: medium">
                                    ยังไม่มีเอกสาร
                                </div>
                            }
                        </div>
                    }
                }
                else
                {
                    <div>
                        ไม่มีรายการที่คุณต้องอัปโหลด
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@*footer*@
<div class="footer">
    <div class="row col-12">
        <div class="col-xl-4 col-lg-4 col-md-5 col-6 text-start">
            <button class="btn secondary-bg shadow rounded text-center"
                    style="border-radius:20px;width:170px"
                    @onclick="Back">
                <i class="fa-solid fa-arrow-left fa-lg me-3"></i> ย้อนกลับ
            </button>
        </div>
        <div class="col-xl-6 col-lg-5 col-md-7 col-6 text-end">
            <button class="btn button-color shadow rounded text-center"
                    style="color:white;border-radius:20px;width:170px"
                    @onclick="NextPageAsync">
                ถัดไป <i class="fa-solid fa-arrow-right fa-lg ms-3"></i>
            </button>
        </div>
    </div>
</div>

<!-- Extra large modal -->
<div class="modal fade"
     id="extralarge"
     tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @GetTypeName(ShowResultImgTitle)
                </h5>
            </div>
            <div class="modal-body">
                <div class="card p-4">
                    @if (ShowListResultImg.Count != 0)
                    {
                        for (int i = 0; i < ShowListResultImg.Count; i++)
                        {
                            var item = ShowListResultImg[i];
                            var extension = Path.GetExtension(item.Name);

                            if (extension == ".pdf")
                            {
                                <div class="text-center my-2">
                                    <iframe src="@GetUrl(item)" style="width:100%; height:500px"></iframe>
                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <div class="text-center col-6 p-2">
                                        <img src="@GetUrl(item)" style="width:auto; height:200px;">
                                    </div>
                                </div>
                            }
                        }
                    }
                    else
                    {
                        <Empty>
                            <DescriptionTemplate>
                                <span>ไม่พบไฟล์</span>
                            </DescriptionTemplate>
                        </Empty>
                    }
                </div>

            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn button-color"
                        data-bs-dismiss="modal">
                    ปิด
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private RenderFragment IconRender(string colorString)
    {
        return @<Icon Type="exclamation-circle" Theme="outline" Style=@($"color:{colorString}; font-size:20px; display: block; margin: 0 auto;") />
    ;
    }
}
